*{
    background-color: #ffe4c4;
    
}



/*.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 2.2fr 0.5fr 0.5fr;
    grid-template-areas: 
    'header header header'
    'main main main'
    'aside aside aside'
    'footer footer footer';
}*/



/* index.html */
/* header */
body{
    background-color: #ffe4c4;
}
.encabezado{
    background-image: url('../assets/imagen\ encabezado.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.encabezado img {
    width: 150px;
}
.encabezado nav{
    font-size: 20px;
}
.lista-one{
    display: flex;
    list-style-type: none;
}
.lista-one li{
    margin-right: 10px;
}
/* main */
.h1-menu{
    text-align: center;
    margin-top: 40px;
    color: brown;
    font-family: fantasy;
    font-size: xxx-large;
}
.imagenes {
    text-align: center;
    margin: 30px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    
}
.imagenes p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.imagenes button {
    background-color: #8a2be2;
    color: #ffffff;
    border-radius: 10px;
}
.img{
    border-radius: 10px;
    border-style: solid;
    width: 220px;
    margin: 50px;
    padding: 10px;
}
.img img{
    width: 100%;
}
/* aside */
.nos-historia{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nos-historia h1{
    font-size: 40px;
    font-family: fantasy;
    color: chocolate;
}
.nos-historia p{
    font-size: x-large;
    font-family: sans-serif;
    text-align: center;
}
.nos-historia button{
    color: #000000;
    background-color: #75b6f3;
}
/* footer */
.pie-pagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.pie-pagina img {
    text-align: left;
    width: 150px;
}
.pie-pagina nav{
    text-align: right;
    color: #000000;
    font-size: 20px;
    padding: 16px;
    list-style-type: none;
}
.lista{
    display: flex;
    flex-wrap: wrap;
}
.lista li{
    list-style-type: none;
    margin-right: 10px;
}


/* eventos.html */
.titulo-eventos{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color: #8b0000;
    font-family: fantasy;
    justify-content: space-between;
    align-items: center;
    
}
.imagenes-eventos{
    text-align: center;
    margin: 30px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
.imagenes-eventos p{
    font-family:"Jersey 10", sans-serif;
    text-decoration: solid;
}
.imagen img{
    width: 100%;
}
.imagen{
    border-radius: 10px;
    border-style: solid;
    width: 220px;
    margin: 50px;
    padding: 10px;
}

/* nosotros.html*/
.titulo{
    justify-content: center;
    color: #a52a2a;

}
.imagenes-nosotros{
    justify-content: center;

}
.parrafo{
    justify-content: center;
    color: #000000;
    font-size: 20px;
    font-family: cursive;
}


/* menu.html */
.head-menu{
    justify-content: center;
    background-color: #ffe4c4;
}
.listas{
    justify-content: center;
}
.listas h1{
    font-style: oblique;
    text-decoration: underline;
}


/* contacto.html */
.head-contact{
    color: #8b0000;
    font-family: fantasy;
}
.menu-contact{
    color: #000000;
    font-style: oblique;
    text-decoration: underline;
}


