/* aside index */
.nos-historia{
    @include display(center,wrap,none);
    &__titulo{
        font-size: 40px;
        font-family: fantasy;
        color: #a52a2a;
    }
    &__parrafo{
        font-size: x-large;
        font-family: sans-serif;
        text-align: center;
    }
    &__button{
        color: #ffffff;
        background-color: #8a2be2;
    }
}

/* aside eventos */
.accordion{
    margin-bottom: 50px;
}

/* aside nosotros */
.parrafo{
    justify-content: center;
    @include titulos(#000000, 20px, cursive);
    border: double;
    border-color: #ff0000;
    margin: 20px;
}

/* footer menu */
.titulos-aside {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
        &__primer{
            @include titulos(#008b8b, 70px, "Dancing Script");
        }
        &__segundo{
            @include titulos(#2f4f4f, 40px, "Playfair Display"); 
            margin-top: 40px;   
        }
}

/* footer contacto */
.menu-contact{
    &__mapa{
        @include display(space-around,wrap,none);
        margin-top: 30px;
        h2{
            color: #8b0000;
            font-style: oblique;
            text-decoration: underline;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}
