/*index.html*/ 

.encabezado{
    background-image: url('../assets/imagen\ encabezado.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    img {
        width: 150px;
    }
    &__nav{
        font-family: "Bebas Neue", sans-serif;
        font-size: 30px;
        text-decoration: underline;
        color: white;
    }
}



/* eventos.html */
.titulo-eventos{
    text-align: center;
    color: #8b0000;
    font-family: fantasy;
    align-items: center;
    @include display(space-around,wrap,none);
    h1{
        border: double;
    }
}

/* nosotros.html */
.titulo{
    color: #a52a2a;
    margin-top: 50px;
    @include display(center,wrap,none);
}

/* menu.html */
.head-menu{
    justify-content: center;
    background-color: #ffe4c4;
}

/* contacto.html */
.head-contact{
    text-align: center;
    color: #8b0000;
    font-family: fantasy;
}