/* header */ 
.encabezado{
    background-image: url('../assets/imagen\ encabezado.jpeg');
    background-position: center;
    background-size: cover;
    @include display(space-around, wrap, none);
    align-items: stretch;
    img {
        width: 150px;
    }
    &__nav{
        font-family: "Bebas Neue", sans-serif;
        font-size: 30px;
        text-decoration: underline;
        color: $cb;
    }
}