/* footer index */
.pie-pagina{
    align-items: center;
    @include display(space-between,wrap,none);
        &__imagen{
            text-align: left;
            width: 150px; 
        }
        &__article{
            text-align: right;
            color: #000000;
            font-size: 20px;
            padding: 16px;
            list-style-type: none;
                &__lista{
                    @include display(none, wrap, none);
                    list-style: none;  
                    li{
                        margin-right: 10px; 
                    }
                }  
        }
}


/* footer nosotros */
.parrafo{
    justify-content: center;
    @include titulos(#000000, 20px, cursive);
    border: double;
    border-color: #ff0000;
    margin: 20px;
}

/* footer menu */
.titulos-footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
        &__primer{
            @include titulos(#008b8b, 70px, "Dancing Script");
        }
        &__segundo{
            @include titulos(#2f4f4f, 40px, "Playfair Display"); 
            margin-top: 40px;   
        }
}


/* footer contacto */
 .lista-contacto__ul{   
    margin-top: 30px;
    font-size: 25px;
    color: #d24848;
    @include display(space-around,wrap,none);
}