/* footer */
.pie-pagina{
    align-items: center;
    @include display(space-between,wrap,none);
        &__imagen{
            text-align: left;
            width: 150px; 
        }
        &__article{
            text-align: right;
            color: #000000;
            font-size: 20px;
            padding: 16px;
            list-style-type: none;
                &__lista{
                    @include display(none, wrap, none);
                    list-style: none;  
                    li{
                        margin-right: 10px; 
                    }
                }  
        }
}