/* main index */
.container--h1{
    text-align: center;
    margin-top: 40px;
    @include titulos(#a52a2a, xxx-large, fantasy);
}
.container__imagenes {
    text-align: center;
    margin: 30px;
    @include display(space-around,wrap,none);
    
}
.container__imagenes p {
    @include titulos(none, 18px, 'Times New Roman');
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.container__imagenes button {
    background-color: #8a2be2;
    color: #ffffff;
    border-radius: 10px;
}
.img{
    border-radius: 10px;
    border-style: solid;
    width: 220px;
    margin: 50px;
    padding: 10px;
}
.img img{
    width: 100%;
}


/*main eventos*/
.container__imagenes-eventos{
    text-align: center;
    margin: 30px;
    @include display(space-around,wrap,none);
    align-items: flex-start;
}
.container__imagenes-eventos p{
    margin: 10px;
    font-family:"Jersey 10", sans-serif;
    text-decoration: solid;
    font-size: 100%;
}
.container__imagenes-eventos img{
    width: 100%;
}
.imagen{
    border-radius: 10px;
    border-style: solid;
    width: 220px;
    margin: 50px;
    padding: 10px;
}


/* main nosotros */
.imagenes-nosotros{
    @include display(space-evenly,wrap,none);
    margin-top: 100px;
    margin-bottom: 100px;
        &__one{
            img{ 
                width: 600px;
            } 
        }
        &__two{
            img{
                width: 600px;
            }
        }
}


/* main menu */
.listas{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 100px;
    &__one{
        &__button{
            background-color: #7e92dd;
            color: #ffffff
        }
    }
    &__two{
        &__button{
            background-color: #dc143c;
            color: #ffffff;
        }
    }
    &__three{
        &__button{
            background-color: #ffd700;
            color: #ffffff;
        }
    }
    &__four{
        &__button{
            background-color: #228b22;
            color: #ffffff;
        }
    }
}
/* main contacto */
.menu-contact{
    color: #df731b;
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
    @include display(space-around,wrap,none);
}




