@mixin display($jc, $fw, $fflow){
    display: flex;
    justify-content: $jc;
    flex-wrap: $fw;
    flex-flow: $fflow;
}
@mixin titulos($c, $fs, $ff){
    color: $c;
    font-size: $fs;
    font-family: $ff;
}

@mixin listas{
    font-style: oblique;
    text-decoration: underline;
}