/* header */
.encabezado {
  background-image: url("../assets/imagen encabezado.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-flow: none;
  align-items: stretch;
}
.encabezado img {
  width: 150px;
}
.encabezado__nav {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  text-decoration: underline;
  color: #ffffff;
}

/* main index */
.container--h1 {
  text-align: center;
  margin-top: 40px;
  color: #a52a2a;
  font-size: xxx-large;
  font-family: fantasy;
}

.imagenes {
  text-align: center;
  margin: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-flow: none;
}
.imagenes__img {
  border-radius: 10px;
  border-style: solid;
  width: 220px;
  margin: 50px;
  padding: 10px;
}
.imagenes__img p {
  color: none;
  font-size: 18px;
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}
.imagenes__img button {
  background-color: #8a2be2;
  color: #ffffff;
  border-radius: 10px;
}
.imagenes__img img {
  width: 100%;
}

/*main eventos*/
.titulo-eventos {
  text-align: center;
  color: #8b0000;
  font-size: none;
  font-family: fantasy;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-flow: none;
}
.titulo-eventos h1 {
  border: double;
  margin-top: 20px;
}

.imagenes-eventos {
  text-align: center;
  margin: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-flow: none;
  align-items: flex-start;
}
.imagenes-eventos__imagen {
  border-radius: 10px;
  border-style: solid;
  width: 220px;
  margin: 50px;
  padding: 10px;
}
.imagenes-eventos__imagen p {
  margin: 10px;
  font-family: "Jersey 10", sans-serif;
  text-decoration: solid;
  font-size: 100%;
}
.imagenes-eventos__imagen img {
  width: 100%;
}

/* main nosotros */
.titulo-nosotros {
  color: #a52a2a;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: none;
}
.titulo-nosotros__h1 {
  font-size: 50px;
}

.imagenes-nosotros {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-flow: none;
  margin-top: 100px;
  margin-bottom: 100px;
}
.imagenes-nosotros__one img {
  width: 600px;
}
.imagenes-nosotros__two img {
  width: 600px;
}

/* main menu */
.listas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 100px;
}
.listas__one__button {
  background-color: #7e92dd;
  color: #ffffff;
}
.listas__two__button {
  background-color: #dc143c;
  color: #ffffff;
}
.listas__three__button {
  background-color: #ffd700;
  color: #ffffff;
}
.listas__four__button {
  background-color: #228b22;
  color: #ffffff;
}

/* main contacto */
.lista-contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.lista-contacto__h1 {
  font-size: 50px;
  margin-top: 50px;
  text-align: center;
  color: #8b0000;
  font-size: none;
  font-family: fantasy;
}
.lista-contacto__ul {
  margin-top: 30px;
  font-size: 25px;
  color: #df731b;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-flow: none;
}

/* aside index */
.nos-historia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: none;
}
.nos-historia__titulo {
  font-size: 40px;
  font-family: fantasy;
  color: #a52a2a;
}
.nos-historia__parrafo {
  font-size: x-large;
  font-family: sans-serif;
  text-align: center;
}
.nos-historia__button {
  color: #ffffff;
  background-color: #8a2be2;
}

/* aside eventos */
.accordion {
  margin-bottom: 50px;
}

/* aside nosotros */
.parrafo {
  justify-content: center;
  color: #000000;
  font-size: 20px;
  font-family: cursive;
  border: double;
  border-color: #ff0000;
  margin: 20px;
}

/* footer menu */
.titulos-aside {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titulos-aside__primer {
  color: #008b8b;
  font-size: 70px;
  font-family: "Dancing Script";
}
.titulos-aside__segundo {
  color: #2f4f4f;
  font-size: 40px;
  font-family: "Playfair Display";
  margin-top: 40px;
}

/* footer contacto */
.menu-contact__mapa {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-flow: none;
  margin-top: 30px;
}
.menu-contact__mapa h2 {
  color: #8b0000;
  font-style: oblique;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 20px;
}

/* footer */
.pie-pagina {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: none;
}
.pie-pagina__imagen {
  text-align: left;
  width: 150px;
}
.pie-pagina__article {
  text-align: right;
  color: #000000;
  font-size: 20px;
  padding: 16px;
  list-style-type: none;
}
.pie-pagina__article__lista {
  display: flex;
  justify-content: none;
  flex-wrap: wrap;
  flex-flow: none;
  list-style: none;
}
.pie-pagina__article__lista li {
  margin-right: 10px;
}

/*# sourceMappingURL=main.css.map */
